html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #313131;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.split {
    float: right;
    background-color: #04aa6d;
    color: white;
}

.jumbotron {
    background-image: url("https://lh3.googleusercontent.com/DVR2eM5WOfCDHXxA2M5v9yzrE2FJfpy4nB-dlbwHzcclhvIY4BGNKPZAj-3vhf3PxIc4UaExXTtsVSiEhl7-ikWeL4Z0XEWK8iJMnstNhtIOsGthZqyPWssJigs3HbkxdNVqg_NpnaQQ2IhEOPGUKaK_fUHE7iX9eyOTQ_TVt6i62ZfF6JCNJpz-PsXeg7XJxpckq1rb6ewLKTj5lgLJ5sWbudKOZs35bI_1uDWKfLdrKMhj7PhjCwb-As8p45422c9J_v4QD41QixHljaccAeserrTrubknCvQWBcEx8od7huAFt6KyMuxrYiHDrpXj8NiDAv3MWKFpxZtYYqS7eousxnPZGpSAKrCzdXVPmUG5Yv9jnWLS2uK_hPW62hxGJ9f_0e_Q2pnIw3Y-D68d6IAdiigrFmWC8TQSdYVhaJu-Lw8QENLfiq2zbvRrxjQDuMqCc4--XWl7LjwepOp-iqp6hekj4qqT4uMHScj70wKv_Lax2PKxanJbGVHmprQhNut7gEOhu-JuNKExQUHI98hLbHfgB8c706iuFIgFHFbGRWVfiRM08ckrRD_4PIlceXd8NP3s2iE5P4j368bUEwOivehgwO6AwgkelHe1g93nHXZkmxtAtlk_AkI4SG0YPQZLCm7H6j5Gx3K92B3I-IbH0LUitcF8iO7vpAivIIaXfMrZswPQGICErNPQxfSNFh8OuGFsVw2trn9cXXXNAuIkh9vffffKFCQNZv4uNy1HEiuJTtMFn3IGEjQ=w1666-h938-no?authuser=0");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-container {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

